
.account-sidebar {
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    border-right: 2px solid $blue300;

    .sidebar-image {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 2rem;
        border-radius: 30% 10px 30% 20%;
    }

    .sidebar-link {
        font-size: 1.5em;
        color: $blue300;
        text-decoration: none;
        margin: 0.5rem 0;
        padding: 0.5rem 0;
        border-bottom: 1px solid lightgrey;
        transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            color: $blue200;
            transform: scale(1.05);
        }
    }

    .sidebar-logout-btn {
        font-size: 0.9em;
        width: 40%;
        margin: 0 auto;
        margin-top: 2rem;
        background-color: rgba(255, 0, 0, 0.199);
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
        transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

        &:hover {
            background-color: rgba(255, 0, 0, 0.432);
            box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
            transform: scale(1.05);
        }
    }
}