@import 'main-navigation.scss';
@import 'main-footer.scss';

@import 'homepage.scss';

.main-layout {
    min-height: 100vh;
    margin: 0;
    position: relative;
    padding-bottom: 450px;
    font-family: 'Lora', serif;
    //font-family: 'Titillium Web', sans-serif;
}

