
.profile-container {
    min-height: calc(100vh - 90px);
    background-color: rgb(176, 211, 247);

    .edit-profile-link {
        font-size: 1.5em;
        color: rgba(235, 153, 2, 0.527);
    }
}